* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.card {
  width: 320px;
  background-color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card > * {
  padding: 15px;
}
.card .qr {
  display: block;
  width: 100%;
  border-radius: 30px;
}
.card h2 {
  text-align: center;
}
.card p {
  text-align: center;
  opacity: 0.5;
  padding-top: 0px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 550px) {
  .card {
    margin: 20px 10px;
  }
}

/* 
NOTE 
screen size preview: 1440px
screen size preview: 375px
responsive
*/
