:root {
  --main-color: hsl(0, 0%, 86%);
  --secondary-color: hsl(0, 0%, 100%);
  --secondary-secondOption-color: hsl(0, 0%, 94%);
  --style1-color: hsl(259, 100%, 65%);
  --style2-color: hsl(0, 1%, 44%);
  --error-color: hsl(0, 100%, 67%);
}

@font-face {
  font-family: myFont;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: myFont2;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  font-size: 32px;
  font-family: myFont;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 900px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  border-bottom-right-radius: 50%;
  padding: 70px;
}

.form {
  display: flex;
  position: relative;
  padding-bottom: 30px;
  gap: 20px;
}
.form::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--main-color);
}
.formBox {
  width: 25%;
}
.form label {
  width: max-content;
  display: block;
  font-size: 0.9rem;
  color: var(--style2-color);
  font-weight: bold;
  letter-spacing: 3px;
}
.form #day,
.form #month,
.form #year {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--secondary-secondOption-color);
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  outline: none;
}
.form #day:focus,
.form #month:focus,
.form #year:focus {
  border: 1px solid var(--style1-color);
}
.form .error {
  display: none;
  width: max-content;
  font-size: 0.9rem;
  color: var(--error-color);
  font-style: italic;
}

/*  */
.btn {
  position: absolute;
  /* 80x80 divide 2 = 40/40 */
  bottom: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  background-image: url(assets/images/icon-arrow.svg);
  background-color: var(--style1-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.btn:hover {
  background-color: #000;
}

.results {
  padding: 50px 0;
}
.resultDate {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  font-family: myFont2;
}
.resultDate > * {
  font-size: 6rem;
}
.resultDate span {
  color: var(--style1-color);
}

@media (max-width: 1000px) {
  .card {
    width: 95vw;
    padding: 20px;
  }
  .form {
    padding-bottom: 60px;
    gap: 5px;
  }
  .formBox {
    width: 33%;
  }
  .form #day,
  .form #month,
  .form #year {
    padding: 5px;
  }
  .form .error {
    font-size: 0.5rem;
  }
  .btn {
    width: 70px;
    height: 70px;
    bottom: -35px;
    right: 50%;
    transform: translate(50%);
    background-size: 30px;
  }
  .resultDate > * {
    font-size: 3rem;
  }
}
@media (max-width: 374px) {
  .card {
    border-radius: 0;
  }
  .form {
    flex-direction: column;
    align-items: center;
  }
  .form label,
  .form #day,
  .form #month,
  .form #year,
  .form .error {
    width: 100%;
    text-align: center;
  }
  .resultDate > * {
    font-size: 2.5rem;
  }
}

/* 
NOTE 
screen size preview: 1440px
screen size preview: 375px
responsive
no leap years
*/
